*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif
    text-decoration: none;
}
header {
    width: 100%;
    height: 100px;
    background-color: red;
}
header .header__content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    margin-top: 27px;
}
.header__logo a{
    text-decoration: none;
    color: white;
}
.header__logo a span{
    font-size: 30px;
    font-weight: 700;
}
.header__content nav ul li{
    list-style-type: none;
    display: inline-block;
}